# OptiFabric (People who helped Develop the Core Mod)
modmuss50 - Main Dev until 1.16
Andrews54757
Chocohead

# Collaborators (People who have contributed to OptiFabric Development since May 2019)
calloatti
modmuss50
Andrews54757
Chocohead
CDAGaming
Wolfst0rm
cs127
amusingimpala75

#Optifine (Owner of the Optifine Codebase)
sp614x