# OptiFabric (People who helped Develop the Core Mod since May 2019)
modmuss50
Andrews54757
Chocohead

# Contributors (People who have contributed to OptiFabric Development since May 2019)
calloatti
modmuss50
Andrews54757
Chocohead
CDAGaming
Wolfst0rm
cs127
amusingimpala75

#FabricMC Team (All the people who have made Fabric a thing)
modmuss50
2xsaiko
Gegy
haykam821
i509VCB
Juuxel
Prospector
Runemoro
AppleTheGolden
Shadowfacts
SuperCoder79
Mary
Vaerian
YanisBft
And anyone else who I may have missed who are not part of the FabricMC Github Org.

#Optifine (Owner of the Optifine Codebase)
sp614x